<img src="../../../assets/img/new-gif-blinking-image-6.gif" style="height: 80px;" alt=""/>
<img src="../../../assets/img/products.jpg" style="height: 180px;" alt=""/>
<img src="../../../assets/img/colorful_google_tees.png" style="height: 180px;" alt=""/>
<img src="../../../assets/img/laptop.jpg" style="height: 180px;" alt=""/>
<app-account>  </app-account>      

 <hr/><hr/>
 <!--
   this.notify.emit(product);
 -->
 <add-product  (notify)="addProductToParent($event)"></add-product>

 <div class="row">
    <div class="col-sm-10 col-md-6 col-lg-9">
<h5>Product Available in store!</h5>
              
<table class="table table-bordered">
  <thead  style="background-color:#17a2b8;color:white;font-size: 14px;font-weight: normal !important">
    <tr>
    <th>SNo</th>
      <th>Pid</th>
      <th>Name</th>
      <th>Category</th>
      <th>Price</th>
      <th>Image</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   
    <tr *ngFor="let prod of productList;let i=index">
     <td>{{i+1}}</td>
     <td>
 
      
 <!-- ngClass for dynamic contents display depending on the functions data return here in this case 
      inCartProductToCart(prod) if gives true/1 then danger else primary-->     
     <button (click)="addProductToCart(prod);" 
     [ngClass]="inCartProduct(prod)? 'btn btn-danger' : 'btn btn-primary'"> 
     {{inCartProduct(prod) ? 'In Cart' : 'Add to cart'}}
    </button>
      
        &nbsp;&nbsp;
                      {{prod.pid}}
      </td>
      <td>{{prod.name}}</td>
      <td>{{prod.category}}</td>
      <td>{{prod.price}}</td>
      <td style="text-align: center"><img style="height: 100px;" src="{{prod.image}}" alt=""/></td>
      <td>
      <button type="button" (click)="deleteProduct(prod);"  class="btn btn-primary">Delete</button>
      <edit-product [eproduct]="prod" (notify)="updateProductToParent($event)"></edit-product>
        &nbsp;
      </td>
 </tr>

    <!-- <tr id="12P">
    <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
   
 </tr>
 <tr  id="13P">
 <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
     
      <td>&nbsp;</td>
   
 </tr> -->
  </tbody>
</table>
</div>
<div class="col-sm-2 col-md-6 col-lg-3">
    <app-cart></app-cart>
</div>
</div>
<br/>
