<div style="margin-top: 30px;">
  <h5>Shopping Cart</h5>
  <img src="../../../assets/img/app-cart.png">
  <hr/>
  <div class="cart">
      <div class="panel panel-default">
          <div class="panel-body">
         
                  <div class="cart__body">
                    <div class="cart-item" *ngFor="let prod of productsInCart">
                      <div style="display: inline;">
                          <button class="btn btn-danger btn-xs" (click)="removeProductFromCart(prod);">X</button>
                          <span class="cart-item__name">{{prod.name}}</span>
                      </div>
                      <div class="cart-item__price">{{prod.price}} $</div>
                   
                  </div>
                 
                  </div>
                 <div class="alert alert-info" *ngIf="productsInCart.length==0">Cart is empty</div>
               <hr/>
               <div class="checkout" *ngIf="productsInCart.length>0">
             
                   <button type="button"  class="btn btn-warning">Checkout</button>
                    <span class="cart__total">   
                          Total: {{total}} $
                   </span>                  
               </div> 
             
          </div>
      </div>
  </div>
</div>