<header class="App-header">
  <!-- <a href="storefront" ><img src="../../assets/img/edit.png"/> </a> -->
  <!-- <img src="../../assets/img/glug-animated.gif" class="App-logo" alt="logo" /> -->
  <!-- <img src="../../assets/img/sun_dribbble.gif" class= "App-logo" alt="logo"/> -->
  &nbsp;&nbsp;&nbsp; 
  <h3  style="display: inline;" class="App-title">Geeta's Shopping App</h3>

   <!-- <img src="../../assets/img/ecom-cart.gif" class="header-img" style="display: inline;"  alt="Add Product" /> -->
  
 
   <!-- <h2 class="Greeting-title" style="display: inline;">{{welcomeMessage}}</h2>-->
  <!-- <img src="../../assets/img/profile.png" class="profile-img" alt="profile pic"/> -->
  
  <h2 class="Greeting-title" style="display: inline;">Hello {{signup.gender=='Male'?'Mr.':'Miss'}} {{signup.username}}</h2>
   <img src="{{signup.photo}}" class="profile-img" alt="profile pic"/> 
   
   &nbsp;&nbsp;&nbsp;
   <a href="checkout"><img  src="../../assets/img/cart.jpeg" class="profile-img" style="width: 50px;height: 50px" alt="cart checkout"/></a>

   &nbsp;&nbsp;&nbsp;
    <a href="javascript:"  (click)="logout();">
    <img style="height: 50px;width: 50px;" src="../../assets/img/logout.png"  alt="profile pic"/></a>
  
</header>