<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <header style="background-color: aqua">
    <h1>@Welcome to Angular2</h1>
 </header>
 <img height="150" alt="Angular Logo" src="../assets/img/food.png">
 <img  style="margin-left: 150px;" alt="Angular Logo" src="../assets/img/add-product.png">
   <div style="float: left;">
   <h3>Product List</h3>
   </div>
   <br/>
   <span style="color:blue;font-size: 16px;">{{appMessage}}</span>
   <hr/>
  <table border="1" id="customers">
    <tr>
      <th>PID :</th>
      <th>Name</th>
      <th>Image</th>
      <th>Price</th>
      <th>Store</th>
        <th>Mfg</th>
      <th>Category</th>
      <th>Action</th>
    </tr>
    
  <tbody  id="myContents">
    <tr *ngFor="let product of productList">
      <td>&nbsp;{{product.pid}}</td>
      <td>&nbsp;{{product.name}}</td>
      <td>&nbsp;<img src="{{product.image}}" height="100px;"/></td>
      <td>&nbsp;{{product.price}}</td>
      <td>&nbsp;{{product.store}}</td>
      <td>&nbsp;{{product.mfg}}</td>
      <td>&nbsp;{{product.category}}</td>
      <td>&nbsp;
          <a href="javascript:" (click)="deleteProduct(product)">
            <img width="100" alt="Angular Logo" src="../assets/img/delete.png" style="height: 50px;">
          </a>
    
      </td>
      
    </tr>

    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
   
    
    </tbody>
  </table>
  <br/>
</div>
<div style="height: 20px;background-color: aqua">
</div>
 <table border="1">
    <tr>
      <td>name </td>
      <td>{{customer.name}}</td>
    </tr>
    <tr>
      <td>Email </td>
      <td>{{customer.email}}</td>
    </tr>

    <tr>
      <td>Mobile </td>
      <td>{{customer.mobile}}</td>
    </tr>

    <tr>
      <td>Age </td>
      <td>{{customer.age}}</td>
    </tr>

    <tr>
      <td>Married </td>
      <td>{{customer.married}}</td>
    </tr>

 </table>

<app-footer></app-footer>




