<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="200" alt="Angular Logo" src="../assets/img/math.png">
  <marquee><h2>Here are some links to help you start: </h2></marquee>
  <h2>{{message}}</h2>
  <h2>Num is coming from class  = {{num}}</h2>
</div>
<div style="height: 20px;background-color: aqua">
</div>
 <table border="1">
    <tr>
      <td>name </td>
      <td>{{customer.name}}</td>
    </tr>
    <tr>
      <td>Email </td>
      <td>{{customer.email}}</td>
    </tr>

    <tr>
      <td>Mobile </td>
      <td>{{customer.mobile}}</td>
    </tr>

    <tr>
      <td>Age </td>
      <td>{{customer.age}}</td>
    </tr>

    <tr>
      <td>Married </td>
      <td>{{customer.married}}</td>
    </tr>

 </table>

<app-footer></app-footer>




