<!-- <p>
  checkout works!
</p> -->
<head>
<link href="/path/to/item-quantity-dropdown.min.css" rel="stylesheet">

</head>




<div class="row">
    <div class="col-sm-10 col-md-6 col-lg-9">
<h5>Product Available for checkout</h5>
         
<table class="table table-bordered">
  <thead  style="background-color:#17a2b8;color:white;font-size: 14px;font-weight: normal !important">
    <tr>
      <th>SNo</th>
      <th>Details</th>
      <th>Category</th>
      <th>Price</th>
      <th>Quantity</th>
      <th>TotalPrice</th>
      <th>action</th>     
    </tr>
  </thead>
  <tbody>
   
    <tr *ngFor="let cartItem of cartItemList;let i=index">
     <td>{{i+1}}</td>
    <td>{{cartItem.product.name}} <img style="height: 100px;" src="{{cartItem.product.image}}" alt=""/></td>
    <td>{{cartItem.product.category}}</td>
    <td>{{cartItem.product.price}}</td>
    <td> 
        <input type="number"  [(ngModel)]="cartItem.quantity"  default=1 min="1" max="99" required>
      <!--  {{cartItem.quantity}} --> 
    </td>  
    <td>
      {{cartItem.quantity*cartItem.product.price}} 
    </td>
    <td>      
      <button type="button" class="btn btn-primary" (click)="removecartitem(cartItem);">Remove</button>
    </td>      
 </tr>

 <td colspan="7">
  <button type="button" class="btn btn-primary" (click)="proceedToPayment();" >Proceed to payment </button>
 </td>

  
</tbody>
</table>
</div>

<div class="col-sm-2 col-md-6 col-lg-3" style="background-color:darkgray" >
  <!--here we are calling child order-summery component. now it has a field of product cost. this is addition of product.price*quantity whic is
        return value of function totalproductcost()-->
    <order-summary ptotalPrice={{totalproductcost()}}></order-summary>    
</div>

